:root {
    --surface: #Ffffff;
    --primary: #3F72AF;
    --hover-color: #112D4E;
    --text-color: #2F2F2F;
    --grey-secondary: #E5E8FF;

    --fwreguler: 400;
    --fwmedium: 500;
    --fwsemibold: 600;
    --fwbold: 700;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--surface);
}

.pt-48 {
    padding-top: 48px;
}

.pb-48 {
    padding-bottom: 48px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-12 {
    margin-bottom: 12px;
}

.nav-brand {
    display: flex;
    justify-content: center;
}

a.text-brand {
    font-size: 24px;
    font-weight: var(--fwbold);
    text-decoration: none;
    color: var(--primary);
    align-self: center;
}

.logo-brand {
    width: 36px;
    height: 36px;
}

.navbar-nav .nav-item {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: var(--fwmedium);
}

.navbar-nav .nav-item a {
    color: var(--text-color);
    transition: all 0.3s ease;
}

.navbar-nav .nav-item a:hover {
    color: var(--hover-color);
    font-weight: var(--fwmedium);
    transition: all 0.3s ease;
}

.btn-primary {
    background: var(--primary);
    color: #Ffffff;
    padding: 16px 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    border-radius: 8px;
    border: none;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background: var(--hover-color);
    color: #Ffffff;
    transition: 0.3s ease;
}

.btn-secondary {
    background: var(--grey-secondary);
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    padding: 12px 20px 12px 20px;
    border: none;
    transition: 0.3s ease;
}

.btn-secondary:hover {
    background: var(--hover-color);
    color: #Ffffff;
    transition: 0.3s ease;
}

.big-header {
    font-size: 52px;
    font-weight: var(--fwbold);
    align-self: stretch;
    color: var(--text-color);
}

.medium-header {
    font-size: 32px;
    font-weight: var(--fwbold);
    color: var(--text-color);
}

.small-text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: var(--fwreguler);
}

.text-follow {
    font-size: 24px;
    font-weight: var(--fwbold);
    text-decoration: none;
    color: var(--text-color);
    align-self: center;
}

.fitur-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.fitur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout-header {
    display: flex;
    padding: 48px 0px;
    align-items: flex-start;
    gap: 96px;
}

.bagian-terakhir {
    display: flex;
    padding: 48px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.wrapper-akhir {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;
}

.contentnya {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.isi-content {
    display: flex;
    padding: 0px 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.text-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1 0 0;

    overflow: hidden;
    color: var(--text-color);
    text-overflow: ellipsis;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}